### Mutable - Dictionaries

In [102]:
Temperatures = dict() # creating a dictionary
print(type(Temperatures))
Temperatures = {} # Another way to create dictionary
Temperatures = {"Bangalore":32,"Paris":34,"London":38}
print("Printing the dictionary", Temperatures)

<class 'dict'>
Printing the dictionary {'Bangalore': 32, 'Paris': 34, 'London': 38}

In [103]:
Temperatures['Bangalore'] = 35 # Dictionary is mutable
print("Printing the dictionary after changing the value of Bangalore", Temperatures)

Printing the dictionary after changing the value of Bangalore {'Bangalore': 35, 'Paris': 34, 'London': 38}

In [83]:
del(Temperatures["Bangalore"]) # deleting a key from a list
Temperatures

{'Paris': 34, 'London': 38, 'San Fancisco': 35}

In [104]:
Temperatures['Goa'] = 28

In [105]:
Temperatures

{'Bangalore': 35, 'Paris': 34, 'London': 38, 'Goa': 28}

In [106]:
print(Temperatures.keys())
print(Temperatures.values())
print(Temperatures.items())

dict_keys(['Bangalore', 'Paris', 'London', 'Goa'])
dict_values([35, 34, 38, 28])
dict_items([('Bangalore', 35), ('Paris', 34), ('London', 38), ('Goa', 28)])

In [117]:
# Usage of function items()
for k,v in Temperatures.items():
    print(k,v)

Bangalore 35
Paris 34
London 38

In [108]:
# trick with zip()
a = [1,2,3,4]
b = ['a','b','c','d']
for i,j in zip(a,b):
    print(i,j)

1 a
2 b
3 c
4 d

### Mutable - Sets

In [111]:
s1 = {1,2,3,3,3,3}
s2 = {3,2,4}

In [112]:
print(s1)
print(s2)

{1, 2, 3}
{2, 3, 4}

In [113]:
s1.add(10)
s1.add(10)
s1.add(10)
s2.add(30)
s2.add(30)
s2.add(30)

In [115]:
print(s1)
print(s2)

{10, 1, 2, 3}
{2, 3, 4, 30}

In [11]:
s1.union(s2)

{1, 2, 3, 4, 10, 30}

In [12]:
s1.intersection(s2)

{2, 3}

In [59]:
s1.difference(s2)

{1, 10}

In [61]:
s1, s2
s1

({1, 2, 3, 10}, {2, 3, 4, 30})

In [117]:
x= 'abhishek, dubey'.split(",")
x[0]

'abhishek'

In [119]:
'abhishek, dubey'.split(",")[1]

' dubey'

# <font color="#2970A8">1.B.4 - Basic Operation and Operator in Python</font>

## <font color="#2970A8">Operators
    1)Arithmetic
    2)Assignment
    3)Comparision
    4)Logical
    5)Bitwise
    6)Identity
    7)Membership

### Arithmetic

In [94]:
a = 5
b = 2
print(a + b)   # Addition
print(a - b)   # Subtraction
print(a * b)   # Multiplication
print(a / b)   # Division       - returns quotient with fraction
print(a % b)   # Modulus        - returns remainder
print(a // b)  # Floor division - returns integer quotient
print(a ** b)  # Exponent

7
3
10
2.5
1
2
25

### Assignment

In [95]:
a=10
print(a)

a+=10 # a = a + 10
print(a)

a-=10 # a = a - 10
print(a)

a/=10
print(a)

a*=10
print(a)

a**=10
print(a)

10
20
10
1.0
10.0
10000000000.0

### Comparison

In [96]:
a=10
b=20
print(a==b)
print(a!=b)
print(a>b)
print(a>=b)

print(a<b)
print(a<=b)

False
True
False
False
True
True

In [121]:
a = 10
b = 10
print(a>=b)

True

### Logical

In [123]:
a = True
b = False

print(a,b)
print(bool(a), bool(b))

True False
True False

In [126]:
# And operation
print(a and b)

# OR operations
print(a or b)

False
True

### Bitwise

In [127]:
a = 3
b = 5
print(a,b)
print(a & b)

3 5
1

In [4]:
bin(a), bin(b)

('0b11', '0b101')

In [43]:
a & b

1

In [44]:
# cross checking
bin(1)

'0b1'

In [42]:
a | b #

7

In [45]:
# cross checking
bin(7)

'0b111'

### Identity

 There are two identity operator : 'is' and 'is not'

In [47]:
a = 5
d = 5
a is d

True

In [48]:
c = 10
a is c

False

In [49]:
a is not c

True

### Membership

In [129]:
s1 = 'Pythonic is very easy to learn!'
s2 = 'Data Science is the best profession to be in these days.'

In [134]:
'python' in s1

False

In [ ]:
'Science' in s2

In [82]:
'Python' in s2, 'python' in s1

(False, False)

In [84]:
'science' in s2.lower() # case-insensitive

True

In [1]:
a = 45
b = 66
a is b

False

In [9]:
products = ['cadbury Chocolate', 'Amul milk', 'laptop', 'soap']
weights = ['100 gm', '500 ml', '2 KG', '1 pound']
converted_weight = [] # new list to store all the converted weight values
for each_weight in weights:
   val = int(each_weight.split()[0])
   print (val)
   # splitting the weight on 'space' and storing first value to val variable
   # have used int(), because after splitting I get string like '100', type casted it to int so that,-
   # - I can do multiplication below
   uom = each_weight.split()[1]
   print (uom) 
   #storing unit of measure(uom) to variable uom
   # here is my conversion condition, I googled the conversion between different units to ounce
   if uom.lower() == 'kg':
       val = val*35.27
   if uom.lower() == 'gm':
       val = val*0.035274
   if uom.lower() == 'pound':
       val = val*16
   if uom.lower() == 'ml':
       val = val*0.033814
   converted_weight.append(val) # Note: I have this append() outside of if conditions, -
   # - having it inside every if condition will serve the purpose but it is just repetetive.
# all the value has been converted, now printing
for prod, old_wght, con_wght in zip(products, weights, converted_weight):
   print("The prod is : {} , the old weight is : {} & the new weight is : {}".format(prod, old_wght, con_wght))

100
gm
500
ml
2
KG
1
pound
The prod is : cadbury Chocolate , the old weight is : 100 gm & the new weight is : 3.5274
The prod is : Amul milk , the old weight is : 500 ml & the new weight is : 16.907
The prod is : laptop , the old weight is : 2 KG & the new weight is : 70.54
The prod is : soap , the old weight is : 1 pound & the new weight is : 16

In [10]:
# sophisticated way of doing it using map() function
products = ['cadbury Chocolate', 'Amul milk', 'laptop', 'soap']
weights = ['100 gm', '500 ml', '2 KG', '1 pound']
def conversion_fun(row):
   '''
   It takes each element of the list and apply this function and returns the transformed value
   '''
   val = int(row.split()[0]) # splitting the weight on 'space' and storing first value to val variable
   # have used int(), because after splitting I get string like '100', type casted it to int so that,-
   # - I can do multiplication below
   uom = row.split()[1] #storing unit of measure(uom) to variable uom
   # here is my conversion condition, I googled the conversion between different units to ounce
   if uom.lower() == 'kg':
       val = val*35.27
   if uom.lower() == 'gm':
       val = val*0.035274
   if uom.lower() == 'pound':
       val = val*16
   if uom.lower() == 'ml':
       val = val*0.033814
   return val
# using map() function, now there is no for loop while doing the conversion.
converted_weights = list(map(conversion_fun, weights))
for prod, old_wght, con_wght in zip(products, weights, converted_weights):
   print("The prod is : {} , the old weight is : {} &amp; the new weight is : {}".format(prod, old_wght, con_wght))

The prod is : cadbury Chocolate , the old weight is : 100 gm &amp; the new weight is : 3.5274
The prod is : Amul milk , the old weight is : 500 ml &amp; the new weight is : 16.907
The prod is : laptop , the old weight is : 2 KG &amp; the new weight is : 70.54
The prod is : soap , the old weight is : 1 pound &amp; the new weight is : 16